</div><!-- /.container -->
        <div class="container">
        <footer class="footer">
            <div class="container">
              <p class="text-muted">&copy; YelpCamp 2018 | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new">New Campground</a> | <a href="/users">Users</a></p>
            </div>
        </footer>
      </div>


<script src="/libraries/jquery/jquery.min.js"></script>
<script src="/libraries/jquery_validator/jquery.validate.js"></script>
<script src="/libraries/bootstrap/js/bootstrap.min.js" ></script>
<script src="/javascript/script.js"></script>
<script src="/javascript/ajax.js"></script>
    </body>
</html>